* {
  all: unset;
}

$background: #eff1f5;
$foreground: #4c4f69;

$black: #e6e9ef;
$gray: #dce0e8;
$red: #d20f39;
$green: #40a02b;
$yellow: #df8e1d;
$blue: #1e66f5;
$magenta: #7287fd;
$cyan: #179299;
$white: $foreground;

.eww_bar{
  background-color: $background;
  padding: .3rem;
}

.launcher_icon{
    color: $cyan;
    font-family: "Material Symbols Sharp";
    font-size: 1.7em;
    padding: 0 .5rem;
}

.works {
padding: 0 .5rem;
background-color: $black;
border-radius: 5px;
}

.works > * {
  margin: 0 .55rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: $foreground;
}

.works .icon {
  font-size: 1.3rem;
}

.control {
padding: 0 .5rem;
font-family: "Material Symbols Sharp";
font-size: 1.6em;
background-color: $black;
border-radius: 5px;
}
.control > * {
}
.bat{
  font-size: 1.2em;
  color: $blue;
  margin: 0 .25rem;
}
.wifi-icon{
  color: $magenta;
  margin: 0 .25rem;
}
.brightness-icon{
  color: $yellow;
  margin: 0 .25rem;
}
.volume-icon{
  color: $green;
  margin: 0 .25rem;
}
scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-width: 80px;
  min-height: 10px;
  margin: 0 .3rem;
}
.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}
.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

.time {
  font-family: Noto Mono;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: 0 .7rem;
  margin: 0 .5rem;
}

.cal-box {
  background-color: $black;
  font-family: "Noto Mono";
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar {
color: $foreground;
}

calendar:selected {
  color: $blue;
}

calendar:indeterminate {
  color: $cyan
}

calendar.header {
color: $blue;
font-weight: bold;
}

calendar.button {
color: $magenta;
}

calendar.highlight {
color: $magenta;
font-weight: bold;
}

.powermenu {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 .5rem;
}
.powermenu-popup {
  font-size: 4em;
  font-weight: bold;
  background-color: $background;
  padding: 0 0.7rem;
}
.powermenu-popup > * {
  margin: 1rem;
}
.button-bspres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: .5rem .2rem .3rem .2rem;
}
.button-off{
  color: $red;
}
.button-bspres{
  color: $green;
}
.button-reb{
  color: $yellow
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
}
