* {
  all: unset; //Unsets everything so you can style everything from scratch
}

@mixin window {
  margin: 0 0.5rem;
  background-color: rgba(0,0,0,0);
  color: white;
  font-family: 'DejaVu Sans';
}

//Global Styles
.bar {
  @include window;
}

// Styles on classes (see eww.yuck for more information)

button, .button {
  padding: 0 0.6rem;
  font-size: 1.05rem;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

.workspace {
  margin: 0.2rem;
  padding: 0rem 0.5rem;
  font-size: 1.1rem;
  transition: 0.3s;
  min-width: 0.8rem;

  &.current {
    border-bottom: 1px solid white;
  }

  &.current:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    &.current {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.sidestuff {
  border-radius: 1rem;
  padding: 0rem 0.5rem;
  margin-right: 0;
  transition: 0.3s;
}

.sidestuff:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidestuff > * {
  margin: 0 0.2rem;
  padding: 0;
  font-size: 1rem;
}

.icon {
  font-family: "Material Symbols Outlined";
}
